*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
}

.navbar-brand span{
    display: none;
}

.navbar-brand a {
   display: flex;
}

.logo-image{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-image{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.navbar-links{
    display: flex;
    align-items: center;
}

.navbar-links a{
    display: flex;
}

.navbar-links>li{
    list-style-type: none;
    margin: 0px 15px;
}

.navbar-links>li>a {
    display: flex;
    color: #fff;
    text-decoration: none;
}

.register-link {
    background-color: #007bff;
    padding: 5px 10px;
    border-radius: 4px;
    color: #fff;
}

.register-link:hover {
    background-color: #0056b3;
}

.logout-link {
    background-color: #ff0000;
    padding: 5px 10px;
    border-radius: 4px;
    color: #fff;
}

.logout-link:hover {
    background-color: #d00000;
}

/* dropdown for sidebar*/
.sub-product{
    display: none;
}

.sidebar li:hover .sub-product{
    display: block;
    background-color: #403e3e;
    position: absolute;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.sub-product>li{
    list-style-type: none;
    padding:5px 10px;
}

.sub-product>li>a{
    color: #fff;
    text-decoration: none;
}

.sub-brand{
    display: none;
}

.sub-product li:hover .sub-brand{
    display: block;
    background-color: #555;
    position: absolute;
    left: 97px;
    top: 0;
}
.sub-brand>li{
    list-style-type: none;
    padding: 5px 10px;
}

.sub-brand>li>a{
    text-decoration: none;
    color: #fff;
}

.sub-category{
    display: none;
}

.sub-product li:hover .sub-category{
    display: block;
    width: 180px;
    background-color: #555;
    position: absolute;
    left: 97px;
    top: 30px;
}

.sub-category>li{
    list-style: none;
    padding: 5px 10px;
}

.sub-category>li>a{
    text-decoration: none;
    color: #fff;
}

/* sidebar using modal */
#modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    overflow: auto;
    transition: opacity 0.3s ease;
}

/* toggle button */
.modal-content {
    display: flex;
    justify-content: center;
    background-color: #666;
    padding: 10px 10px;
    width: 180px;
    position: relative;
    left: -100px;
    top: 70px;
    transition: left 0.5s ease;
    position: fixed;
}

.sidebar{
    background-color: #666;
}

.sidebar .user-picture{
    display: flex;
    justify-content: center;
}

.sidebar span{
    position: absolute;
    top: -10px;
    right: -25px;
    font-size: 40px;
    cursor: pointer;
    color: #fff;
}

.sidebar li{
    list-style-type: none;
    padding: 5px 25px;
    background-color: #f0f0f0;
    margin: 10px 25px;
    border-radius: 5px;
    text-align: center;
}

.sidebar .logout{
    background-color: #f00;
}

.sidebar .logout a{
    color: #fff;
}

.sidebar .login{
    background-color: #0080ff;
}

.sidebar .login a{
    color: #fff;
}

.sidebar li a{
    text-decoration: none;
    color: #595959;
    display: inline-block;
}

/* responsive header */
@media (max-width:650px){
    .navbar-links li {
        margin: 0px 10px;
    }
    .navbar-brand{
        column-gap: 10px;
    }
}

@media (max-width:550px) {
    .navbar-brand span{
        display: block;
        font-size: 22px;
        cursor: pointer;
    }
    .navbar-links .contact{
        display: none;
    }
}

@media  (max-width:450px) {
    .navbar-links .product{
        display: none;
    }
    .navbar-links a{
        font-size: 15px;
    }
    .navbar-links .profile-image{
        width: 45px;
        height: 45px;
    }
    .logo-image{
        width: 45px;
        height: 45px;
    }
    .navbar-brand span{
        font-size: 17px;
    }
}

@media (max-width:330px){
    .navbar-links li{
        margin: 0px 8px;
    }
}

/* responsive user sidebar */
@media  (max-width:450px) {
    .sidebar span{
        top: -8px;
        right: -18px;
        font-size: 30px;
    }
    .sidebar .profile-image{
        width: 55px;
        height: 55px;
    }
    .sidebar li a{
        font-size: 15px;
    }
    .modal-content{
        width: 160px;
        top: 55px;
    }
}